div
  h2
    a(href='mailto:bart@bartspencer.com') bart@bartspencer.com
.twocols
  div
    br
  .col1
  .col2
    h2.title Links
    ul.list
      li
        a(href='http://shapethefuture.org/') Voter registration
      li
        a(href='http://menlofire.org/') Menlo Park Fire
      li
        a(href='http://www.smartvoter.org/ca/sm/') Smart Voter
