!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')

    title Bart Spencer

    style
      p { font-size: 2em; font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, Times, serif; text-align: center; }
      body { background: grey url('/images/noise.png'); margin: 25px }

      a:link, a:visited, a:active {
        text-decoration:  none;
        color: black;
      }
      a:hover   {
        text-decoration:  underline;
      }

body
  p
    a(href='mailto:bart@bartspencer.com')
      | Email Bart