.twocols
  .col2
    h2.title Goals & Objectives
    ul.list
      li Financial stability and long-term sustainability (
        a(href="/documents/financial_statement.pdf") financial statement
        | )
      li Operation efficiency
      li Strategic direction
  .col2
    h2.title Experience
    ul.list
      li Incumbent - Director since 1999
      li
        | 25 years in public safety/emgergency service industry including time as a
        | firefighter, paramedic and emergency manager
      li FEMA and State of California (CalEMA) training and certifications
      li MA, Santa Clara; BA, Rhodes College
      li County's EMS JPA Board
  .col2
    h2.title Board Accomplishments
    ul.list
      li Maintained financial stability and balanced budget
      li Paid off the employee retirement side fund
      li Explored avenues for consolidation and shared services
      li Implemented strategic planning
      li Hired first in-house Fire Chief in more than 20 years
      li Established Explorer Post
      li Updated fire codes
      li Enhanced emergency preparedness in Menlo Park, Atherton, and East Palo Alto
      li Improved mutual aid agreements with Palo Alto and Fremont
      li Improved ambulance management and services in San Mateo County
      li Improved use of facilities
