!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Bart Spencer
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css')

    // start Mixpanel
    script(type='text/javascript')
      var mpq=[];mpq.push(["init","4a6d93db6f45665e5e2e2bb575361622"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
    // end Mixpanel

  body
    #header
      #logo
        #picture
        h1.picture
        h1.cursive re-elect
        h1
          a(href='#') Bart Spencer
        h2
          a(href='http://www.freecsstemplates.org/') Menlo Park Fire Director
      #menu
        ul
          li
            a(href='/') Home
          li
            a(href='/endorsements') Endorsements
          li
            a(href='/support') Support
          li
            a(href='/contact') Contact
    #page
      #content!= body
      #sidebar
        #footer
          p#legal
            | ©2007 Landscape. All Rights Reserved
            br
            | Designed by
            a(href='http://www.freecsstemplates.org/') Free CSS Templates
          p#links
            a(href='#') Privacy
            | |
            a(href='#') Terms
            | |
            a(href='http://validator.w3.org/check/referer', title='This page validates as XHTML 1.0 Transitional')
              abbr(title='eXtensible HyperText Markup Language') XHTML
            | |
            a(href='http://jigsaw.w3.org/css-validator/check/referer', title='This page validates as CSS')
              abbr(title='Cascading Style Sheets') CSS
    #mixpanel
      a(href="http://mixpanel.com/f/partner")
        img(src="http://mixpanel.com/site_media/images/partner/badge_blue.png", alt="Web Analytics")
