.twocols
  .col2
    h2.title I am willing to support Bart by...
    ul.list
      li
        a(href='mailto:bart@bartspencer.com?subject=Yard Sign Request&body=Please drop off a Bart Spencer Yard sign at this address: ') Displaying a yard sign
      li
        a(href='mailto:bart@bartspencer.com?subject=Distributing information&body=Please contact me about distributing information: ') Distributing information
      li
        a(href='mailto:bart@bartspencer.com?subject=Endorsement&body=Thank you for endorsement. Please specify your name, address, contact information, position/title') Endorsement
  a(name='b_8cc226d09577012eba11000d60d4c902')
  object#badge8cc226d09577012eba11000d60d4c902(type='application/x-shockwave-flash', data='https://giving.paypallabs.com/flash/badge.swf', width='205', height='350', align='middle')
    param(name='allowScriptAccess', value='always')
    param(name='allowNetworking', value='all')
    param(name='movie', value='https://giving.paypallabs.com/flash/badge.swf')
    param(name='quality', value='high')
    param(name='bgcolor', value='#FFFFFF')
    param(name='wmode', value='transparent')
    param(name='FlashVars', value='Id=8cc226d09577012eba11000d60d4c902')
    embed#badge8cc226d09577012eba11000d60d4c902(src='https://giving.paypallabs.com/flash/badge.swf', flashvars='Id=8cc226d09577012eba11000d60d4c902', quality='high', bgcolor='#FFFFFF', wmode='transparent', width='205', height='350', align='middle', allowscriptaccess='always', allownetworking='all', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/go/getflashplayer')

p Committee to Re-Elect Bart Spencer to Menlo Park Fire Board 2011 -- FPPC #1340780