div
  h1.title Endorsements
.twocols
  div
    br
  .col1
  .col2
    h2.title Civic Leaders
    ul.list
      li Don Horsley, SMC Board of Supervisors
        blockquote
          p "I have known Bart Spencer for over a decade, since he was first employed as an Office of Emergency Services District Coordinator working throughout the County of San Mateo. During Bart’s service on the Fire District Board, he has a proven record of accomplishment for prudent fiscal management that has allowed the District to maintain a high level of public safety services. I proudly support his candidacy for the Menlo Park Fire District."
      li Peter Ohtaki, Menlo Park City Council
      li Stephen Nauchtsheim, Menlo Park Fire Board
      li Rex Ianson, Menlo Park Fire Board
      li Ollie Brown, Menlo Park Fire Board (retired)
      li Jerry Carlson, Atherton Town Council
  .col2
    h2.title Community Members (partial listing)
    ul.list
      li Allen & Joyce Phipps
      li Peter & Jane Carpenter
      li Bill & Marliee Clauson
      li Shannon & April Pekary
      li Jack Dubie
      li Dean & Clary RIskas
      li Bill Younger
      li John & Nicole Osmer
      li Zack & Kari Zarcone
      li James Baskin & Kathy Kenny-Baskin
      li Steve Ballard
      li Paul Clauson
      li Mike & Julia Zarcone
      li Van & Karen Weiss
      li Lee & Cachi Kenna
      li Scott & Tami Chamness
      li Alex & Janet Manger